.track-item:has(.thumbnail) {
  padding: 0;

  .track-content {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  span {
    position: relative;
    z-index: 1;
    padding: 4px 6px;
    text-shadow: 1px 1px 1px var(--primaryColor);
  }
}